.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    gap: 8px;
    button {
      cursor: pointer;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-left: 8px;
    }
    h2 {
      svg {
        border-radius: 50%;
        background-color: transparent;
        border: none;
        &:hover {
          background-color: #383838;
        }
      }
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    > input,
    > textarea,
    > select {
      margin-bottom: 16px;
    }
    ul {
      padding-left: 16px;
      li {
        margin: 8px 0;
        input,
        textarea {
          width: 100%;
        }
      }
    }
    .row {
      display: flex;
      gap: 4px;
      align-items: center;
      justify-content: space-between;
    }
    
  }