.saloonPanel {
  height: 100%;
  width: 100%;
  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    gap: 8px;
    
    h2 {
      svg {
        border-radius: 50%;
        background-color: transparent;
        border: none;
        &:hover {
          background-color: #383838;
        }
      }
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .order {
      ul {
        padding-left: 16px;
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 8px 0;
        }
      }
    }
    .row {
      display: flex;
      gap: 4px;
      align-items: center;
      justify-content: space-between;
    }
    
  }
}
