.page {
  height: 100vh;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    .mainCard {
      gap: 32px;
      padding: 32px;
    }
  }
}
