.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  gap: 8px;
  > h2 {
    display: flex;
    gap: 8px;
    align-items: center;
    svg {
      cursor: pointer;
      border-radius: 50%;
      padding: 4px;
      width: 32px;
      height: 32px;
      &:hover {
        background-color: #bbb;
      }
    }
  }
}
.content {
  display: flex;
  gap: 16px;
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
