  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    gap: 8px;
    > h2 {
      display: flex;
      gap: 8px;
      align-items: center;
      svg {
        border-radius: 50%;
        background-color: transparent;
        border: none;
        &:hover {
          background-color: #383838;
        }
      }
    }
  }
  .content {
    display: flex;
    gap: 16px;
    .buttons {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
