@use "common/colors" as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .input {
        padding: 0 8px;
        min-height: 32px;
        width: 100%;
        resize: vertical;
        border: 1px solid $light_grey;
        border-radius: 6px;
        outline: none;
        transition: border-color 0.15s ease;
        &:focus {
            border-color: $grey;
        }
    }
}