.content {
  display: flex;
  flex-direction: column;
  width: 300px;
  .header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
  }
  .tag {
    display: flex;
    gap: 8px;
    padding: 4px 0;
    &:last-child{

      margin-bottom: 16px;
    }
  }
}
