.positioner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  .row {
    display: flex;
    gap: 8px;
    span {
        font-size: 14px;
        padding: 2px 8px;
        border-radius: 4px;
        border: 1px solid #f2f2f2;
    }
  }
}
