.positioner {
  display: flex;
  flex-direction: column;
  align-items: center;
  .row {
    display: flex;
    gap: 8px;
    .spacer {
      width: 20px;
    }
    span {
      font-size: 14px;
      padding: 2px 8px;
      border-radius: 4px;
      border: 1px solid #f2f2f2;
      margin-bottom: 8px;
    }
  }
}
