.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
  height: 48px;
  border-radius: 24px;
  border: 1px solid #f2f2f2;
  font-size: 18px;
}
