.panel {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  .actionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 18px;
  }
}
