.panel {
  position: absolute;
  padding: 16px;
  top: 72px;
  right: 24px;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 1;
  .user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 8px;
    padding: 0 8px;
    .icon {
      border-radius: 50%;
      padding: 4px;
      height: 32px;
      width: 32px;
    }
    .profile {
      @extend .icon;
      background-color: #f2f2f2;
      color: #383838;
    }
    .exit {
      @extend .icon;
      margin-left: auto;
      cursor: pointer;
      &:hover {
        background-color: #bbb;
      }
    }

    span {
      font-size: 18px;
    }
  }
}
