.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  > h2 {
    display: flex;
    justify-content: space-between;
  }
  .products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    gap: 36px;
    max-width: 900px;
    .card {
      position: relative;
      padding: 8px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 100px;
      svg{
        position:absolute;
        top: 4px;
        right: 4px;
        height: 20px;
        width: 20px;
        fill: red;
        &[data-enabled="true"]{
          fill: green;
        }
      }
    }
  }
}