.page {
  height: 100vh;
  .content {
    display: flex;
    flex-direction: column;
    padding: 32px;
    .mainCard {
      gap: 32px;
      padding: 32px;
      display: flex;
      flex-direction: row;
    }
    
  }
}
