.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  gap: 8px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .row {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
  }
}
