.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  gap: 8px;
}
.content {
  display: flex;
  flex-direction: column;
  input,
  select {
    margin-bottom: 16px;
  }
  .row {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
  }
  .actionButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 18px;
  }
}
