.table {
  border-collapse: collapse;
  thead {
    color: #383838;
    background-color: #f2f2f2;
    th {
      padding: 4px;
      border: 1px solid #f2f2f2;
    }
  }
  tbody {
    td {
      padding: 4px 8px;
      border: 1px solid #f2f2f2;
    }
  }
}
