@use "common/colors" as *;

.table {
  border-collapse: collapse;
  thead {
    color: $dark_text;
    background-color: $light_text;
    th {
      padding: 4px;
      border: 1px solid $light_text;
    }
  }
  tbody {
    td {
      padding: 4px 8px;
      border: 1px solid $light_text;
    }
  }
}
