.order {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    flex-grow: 1;
    strong {
      display: block;
      width: 100%;
      text-align: center;
    }
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      margin: 8px 0;
    }
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    > svg {
    cursor: pointer;
    border-radius: 50%;
    padding: 2px;
    width: 32px;
    height: 32px;
    color: red;
    &:hover {
      background-color: #bbb;
    }
  }
  }
}
