.tag {
  cursor: pointer;
  white-space: nowrap;
  position: absolute;
  top: -22px;
  padding: 2px 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #383838;
  &:hover {
    text-decoration: underline;
  }
}
